
<div class="row">
  <div class="span8">
    <div class="container">
      <div class="span6">
      <p class="comment-text">
        <%= comment.body %>
      </p>
      </div>
      <div class="span3 comment-text">
      <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
      <% if can? :destroy, comment %>
        | <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
      <% end %>
      </div>

    </div>
  </div>
</div>

