<div>
<h1> <%= @post.title %></h1>
<h5> <%= @post.body %></h5>
</div>

<div>
<% if can? :new, Comment %>
<%= render partial: 'form', locals: {topic: @topic, post: @post, comment: @comment} %>
<% end %>

</div>