@import "bootstrap-custom";
@import "bootstrap";


.user-avatar.nav.pull-left {
  height:40px;
  width:40px;
}

.navbar-inner.special {
background-color: rgba(0, 123, 220, 0.80);
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  $linkColor: #00290C;
  font-color:#FBFFFA;

}
.navbar .nav > li > a {
color:#FBFFFA;
text-decoration: none;
text-shadow:none;

}

li p {
  color:white;
}

.img-rounded {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

li > p > a {
  color:black;
}

.hero-unit {
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 35%, #3399FF 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#3399FF)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #feffff 0%,#ddf1f9 35%,#3399FF 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #feffff 0%,#ddf1f9 35%,#3399FF 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #feffff 0%,#ddf1f9 35%,#3399FF 100%); /* IE10+ */
background: linear-gradient(to right, #feffff 0%,#ddf1f9 35%,#3399FF 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#3399FF',GradientType=1 ); /* IE6-9 */
}

#title {
align:center, justify;
}

.post-text {
  border-bottom:3px solid rgba(0, 102, 255, 1);
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}


.voted {
  opacity: 0.5;
}