@import "bourbon";
@import "bootstrap";
@import "bootstrap/theme";

/********* Nav Bar *********/

.user-avatar.nav.pull-left {
  height:40px;
  width:40px;
}

.user-avatar.nav.pull-left {
  height:40px;
  width:40px;
}

/***** General ******/

.jumbotron {
  background: linear-gradient(to right, #feffff 0%,#ddf1f9 35%,#3399FF 100%); /* W3C */
  opacity:0.85;
  filter:alpha(opacity=85);
}

#img-rounded {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

.post-text {
  border-bottom:3px solid rgba(0, 102, 255, 1);
}

.hide { display: none; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}