body {
  background-image:url('lego.jpg');
  background-repeat:no-repeat;
  background-origin:padding-box;
  background-position:top;
}

.jumbotron#main-banner {
  p, h1, button { opacity: 1; }

  span button.btn.btn-default.button-lg { 
    border:none;
    box-shadow: 5px 2px 2px;
  }

  background: none;
  background-color:white;
}

.container-liquid {
  width:100%;
  position:relative;
  top:50px;
  left:none;
  .row-liquid {
    width:100%;
    
    .panel {

      display:inline;
      font-family: $helvetica;
      margin: 0 10px 0 10px;
    }
  }
}

